<template>
  <Page>
    <ActionBar title="bbread" android:flat="true"/>
    <TabView
      android:tabBackgroundColor="#53ba82"
      android:tabTextColor="#c4ffdf"
      android:selectedTabTextColor="#ffffff"
      androidSelectedTabHighlightColor="#ffffff"
      androidTabsPosition="bottom"
    >
      <TabViewItem title="transactions">
        <GridLayout columns="*" rows="*">
          <ListView for="item in items">
              <v-template>
                  <Label :text="item.name"/>
              </v-template>
          </ListView>
          <fab
            @tap="fabTap"
            row="1"
            icon="res://ic_add_white"
            rippleColor="#f1f1f1"
            class="fab-button fas"
            text="+"
          />
        </GridLayout>
      </TabViewItem>
      <TabViewItem title="history">
        <GridLayout columns="*" rows="*">
          <Label class="message" text="Tab 2 Content" col="0" row="0"/>
        </GridLayout>
      </TabViewItem>
      <TabViewItem title="dashboard">
        <GridLayout columns="*" rows="*">
          <Label class="message" text="Tab 3 Content" col="0" row="0"/>
        </GridLayout>
      </TabViewItem>
    </TabView>
  </Page>
</template>


<script lang="ts">
import Transactions from "./Transactions.vue";
export default {
  components: {
    Transactions
  },
  data() {
    return {
      msg: "Hello World!",
      items: [{name:'Yvon ZOBO'},{name:'Christelle ZOBO'},{name:'Lyne ZOBO'},{name:'Sophie ZOBO'},{name:'Nathan ZOBO'}]
    };
  }
};
</script>

<style scoped>
ActionBar {
  background-color: #53ba82;
  color: #ffffff;
}

.message {
  vertical-align: center;
  text-align: center;
  font-size: 20;
  color: #333333;
}
.fab-button {
  height: 70;
  width: 70;
  margin: 15;
  background-color: #53ba82;
  horizontal-align: right;
  vertical-align: bottom;
  color: #ffffff;
}

.fas {
    font-family: "Font Awesome 5 Free", "fa-solid-900";
}
</style>