  <template>
  <page>
    <grid-layout rows="auto, *">
      <list-view row="1">
        <list-view.itemTemplate>
          <label text="test" textWrap="true" />
        </list-view.itemTemplate>
      </list-view>
      <fab
        @tap="fabTap"
        row="1"
        icon="res://ic_add_white"
        rippleColor="#f1f1f1"
        class="fab-button"
      ></fab>
    </grid-layout>
  </page>
</template>
<script lang="ts">
export default {
  data(){
    return {
      users: ['Yvon','WOBO']
    }
  }
  
}
</script>
